<dh-header></dh-header>

<div class="espaciado">
  <!-- Page Content -->
  <div class="container containercolor">
    <div class="row">
      <!--Columna 1 izquierd-->
        <div class="col-md-4">
          <dh-perfil></dh-perfil>
          <div class="card my-4">
              <h5 class="card-header">To do List</h5>
          </div>
          <div class="card my-4">
            <h5 class="card-header">Last Mail</h5>
          </div>
        </div>
      <!-- Columna2 central-->
        <div class="col-md-4">
           <!--buscador-->
           <dh-publicaciones></dh-publicaciones>
           <dh-publicacion-img-un></dh-publicacion-img-un>
           <dh-publicacion-img-much></dh-publicacion-img-much>
           <dh-publicacion-img-un></dh-publicacion-img-un>
        </div>
      <!--Columna 3 derecha-->
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Notificaciones</h5>
              </div>
              
                <chat></chat>
              
    
        </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<dh-menu></dh-menu>


